/* nav{
    background-color: black;
    height: 50px;
}

.lien{
    color: white;
    padding-top: 10px;
    align-content: center;
}

.lien:hover{
    background-color: blue;
    border-radius: 20px;
} */